/*global*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial; 
    ;
}

p{
    line-height: 2;
}

img{
    max-width: 100%;
}

/*untilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

/*header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
}

/*footer black background and 200px for the height*/
footer{
    background-color: black;
    height: 150px;
    color:   white;
}

footer a{
    color: white;
}
